# Virtual Environment
env/
venv/
.env/
.venv/

# Environment Variables / secrets (never push)
.env
.venv
*.pem

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Mac Files
.DS_Store

# Database
db.sqlite3

# Logs
*.log

# Static Files
staticfiles/

# Media Files
media/

# Pytest
.pytest_cache/

# Migrations (optional)
# */migrations/*.py
# !*/migrations/__init__.py